<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/styles.css" rel="stylesheet" />
    </head>
    <body>
        {% include "header.html" %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">

            <br><br><br>
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="static/song.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Musique IA</h5>
                    <p class="card-text" align="justify">M-IA permet composer automatiquement les paroles pour vos chansons grâce à l'intelligence artificielle. L'applicatif vous permet:
                        <br>
                        <ul>
                            <li>
                                Choisir le sujet pour la composition
                            </li>
                            <li>
                                Choisir la longueur des paroles vous-même
                            </li>
                            <li>
                                Sauvegarder les paroles générées sur notre site
                            </li>
                        </ul>
                        <br>
                        Si vous êtes en manque d'inspiration pour composer vos chansons, Musique IA vous donnera quelques idées pour la composition!
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="static/IA.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">GPT-3</h5>
                    <p class="card-text" align="justify">Intelligence artificielle de Musique IA a été entraînée sur la base de l'algorithme GPT-3 d'OPEN IA.
                        <br><br>Notre IA a analysé plus de 11 000 chansons (environ) françaises des plus grands chanteurs. <br><br>La diversité des données (et des structures de chansons en particulier)
                        fait que l'algorithme aura besoin de 30 000 à 40 000 chansons afin d'avoir une meilleure compréhension et composition.
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="static/piano3.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bientôt disponible:</h5>
                    <p class="card-text" align="justify">Musique IA va bientôt intégrer une nouvelle fonctionnalité: la composition musicale.
                        <br><br>Cette option permettra composer une mélodie avec des instruments différents (piano ou guitare par exemple).
                        <br><br>Par la suite la mélodie pourra être fusionnée avec des paroles pour former une chanson complète.
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="container px-4 px-lg-5">
            <br>
            <div class="card text-dark bg-white w-100">
                <div class="card-body">
                    <h5 class="card-title">Développement de la technologie</h5>
                    <p class="card-text" align="justify">
                        L'intélligence artificielle se developpe à une vitesse impressionnante dans plusieurs domaines: finances, médecine, data science... créativité?
                        <br><br>L'un des défis majeurs aujourd'hui est la compréhension, par les algorithmes, de notre language avec toutes ses particularités et la richesse.
                        Les algorithmes utilisés par Musique IA, et notamment le modèle d'OPEN IA, permettent déjà une compréhension impressionnante de language naturel.
                        <br><br>Certaines fonctions d'OPEN IA permettent les opérations de génération, classification, recherche sémantique, voir génération du code en se basant
                        sur le language naturel. En 2021, OPEN IA ont sorti le modèle GLIDE qui génère artificiellement une image (à partir de 0) sur la base d'une phrase en language naturel.
                        Cette dernière invention impressionne. L'IA a déjà une image très précise de notre monde. Elle se base sur les données quasi infinies dans l'internet.
                        <br><br>Qu'en est-il de la créativité?
                        <br><br>
                    </p>
                </div>
                <div class="card-footer text-center">
                    ⭐ 19/01/2022 ⭐
                </div>
            </div>
            <br><br>
        </div>
            <!-- Footer-->
        {% include "footer.html" %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
